body{
  background-color: black;

  height: 500rem;
}

:root{
  font-size: 62.5%;

}

main, section{
  width: 40rem;
  height: 40rem;
}

main{
  background: hsl(120, 100%, 11%);
  z-index: 1;

  margin: 80rem auto;

  box-shadow: .2rem .8rem  500rem rgba(36, 255, 36, 0.99);
}

section{
  background: hsl(120, 100%, 57%);
  z-index: 2;
  border-radius: 2rem;
}

section:hover{
  display: none;
}